<div class="container-cocktailnew">


  <div class="form-cocktailnew">
    <h1>Cocktails#new</h1>
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.simple_fields_for :doses do |dose_form| %>
        <%= dose_form.association :ingredient %>
        <%= dose_form.input :description %>
      <% end %>

      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
